.contents.row
  %p
    -# = @nickname "さんの投稿一覧"  ← エラーとなる書き方
    = @nickname
    さんの投稿一覧

  
  - @tweets.each do |tweet|
    .content_post{:style => "background-image: url(#{tweet.image});"}
      = simple_format(tweet.text)
      -# %span.name
      -#   = tweet.name
      -# ↑ 「name」カラムを削除したので、マイページからも削除。